/* You can add CSS here! */
.app {
    position: relative;
}

.events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.img {
    height: 50%;
}

.button {
    position: relative;
    left: 47%;
}